[color]
	ui = true

[push]
	default = simple

[user]
        name = Michael Zingale
	email = michael.zingale@stonybrook.edu

[alias]
        # this lets me get a PR as
        # git fetch-pr 7
        # then "git checkout pr-7
        fetch-pr =!sh -c 'git fetch origin +pull/$1/head:pr-$1' fetch-pr
        fetch-upstream-pr =!sh -c 'git fetch upstream +pull/$1/head:pr-$1' fetch-pr

        recentb = "!r() { count=$1; git for-each-ref --sort=-committerdate refs/heads --format='%(refname:short)|%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' --color=always --count=${count:-20} | while read line; do branch=$(echo \"$line\" | awk 'BEGIN { FS = \"|\" }; { print $1 }' | tr -d '*'); colorline=$(echo \"$line\" | sed 's/^[^|]*|//'); echo \"$colorline\" | awk -F'|' -vOFS='|' '{$5=substr($5,1,70)}1' ; done | ( echo \"branch|lastcommit|message|author\" && cat) | column -ts'|';}; r"


[pull]
	rebase = false

[core]
	editor = vi

[init]
	defaultBranch = main

